# Telegram Bot
BOT_TOKEN=your_bot_token_from_botfather

# Admin Telegram ID (vergul bilan ajratilgan)
ADMIN_IDS=123456789,987654321

# PostgreSQL Database (Render uchun INTERNAL_DATABASE_URL)
INTERNAL_DATABASE_URL=postgresql://user:password@host:5432/testbot
